@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');
header{
    top: 0;
    position: fixed;
    z-index: 5;
    background-color: black;
    display: flex;
    width: 100vw;
    height: 10vh;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 4vh;
}

nav{
    margin-left: auto;
}

nav ul li{
    font-size: 2vh;
    margin-top: 2.5vh;
    display: inline-block;
    margin: 2vw;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}

main{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
}

h2{
    padding: 2vw;
    font-size: 3vh;
    text-align: center;
}

.home{
    height: 80vh;
    width: 90vw;
    background-color: whitesmoke;
    margin-bottom: 2vh;
}

.home img{
    display: block;
    margin: auto;
    width: 80vw;
    height: 80vh;
}



.wdw{
    background-color: #395723;
    border-radius: 1vh;
    margin-bottom: 2vh;
    display: grid;
}

.wdw>h2{
    grid-column: 1/4;
}

.info{
    width: 30vw;
    box-sizing: border-box;
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
}


.info .symbol{
    display: block;
    margin: auto;
    padding-bottom: 1vh;
    width: 5vw;
    height: 10vh;
}

.info p{
    margin-top: 1.5vh;
    font-size: 2.5vh;
    text-align: left;
    margin-left: 1vw;
/*     font-weight: 600;*/
}

h3{
    font-size: 3vh;
    text-align: center;
    margin-bottom: 2vh;
}

.carousel{
    margin-top: 4vh;
    display: block;
    position: relative;
    height: 40vh;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > img{
    display: block;
    object-fit: cover;
    width: 29vw;
    height: 40vh;
}

.slide[data-active]{
    opacity: 1;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4vh;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    background-color: rgb(0, 0, 0,.1);
}

.carousel-button.prev{
    left: 1vw;
}

.carousel-button.next{
    right: 1vw;
}



.over-ons{
    background-color: #395723;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
}

.insta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    border: 1rem solid beige;
}

footer{
    padding: 2vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
    padding-bottom: 2vh;
}

footer>h3{
    text-align: left;
}

.gegevens{
    width: 35vw;
    grid-row: 2/3;
}

.contact{
    width: 35vw;
    grid-row: 2/3;
    color: white;
}

a{
    color: white;
}


@media screen and (max-width:700px) {
    .info{
        grid-column: 1/2;
        width: 90vw;
        margin-left: 3vw;
    }
    .slide > img{
        width: 90vw;
    }
    .info .symbol{
        width: 10vw;
    }

    footer>h3{
        grid-column: 1/3;
        text-align: center;
    }
}





